# Dependencies
node_modules/
package-lock.json
yarn.lock
pnpm-lock.yaml


.env
.env.local
.env.*.local

# Build outputs
dist/
build/
.next/
out/

.cursor/

# Hardhat
cache/
artifacts/
typechain-types/

# Logs
*.log
npm-debug.log*

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Testing
coverage/
.coverage

PLAN.md
IDEA.MD
