[features]
seeds = false
skip-lint = false

[programs.localnet]
notabot = "B2SGdLXWxVssPDBHB8WwKwhwdP9CLWDvBfXr1EtYZtye"

[programs.devnet]
notabot = "B2SGdLXWxVssPDBHB8WwKwhwdP9CLWDvBfXr1EtYZtye"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "Devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
